<!-- Navbar -->
<nav
  class="
    navbar
    navbar-dark
    bg-dark
    fixed-top
    navbar-expand-lg
    shadow-1-strong
  "
>
  <div class="container justify-content-between">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.show()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- ЗАМЕНИЛ ВСЕ ПЕРЕХОДЫ ПО ССЫЛКАМ НА basicNavbar.show() вместо basicNavbar.toggle()-->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            (click)="basicNavbar.show()"
            class="nav-link"
            [routerLink]="['/']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]='{exact: true}'
          ><i class="fas fa-home"></i> Главная</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="basicNavbar.show()"
            class="nav-link"
            [routerLink]="['/projects']"
            [routerLinkActiveOptions]='{exact: true}'
            [routerLinkActive]="['active']"
          >
            <i class="fas fa-bars"></i> Проекты<span class="badge rounded-pill badge-notification bg-success">3</span>
          </a
          >
        </li>
        <!-- Заменил в меню переходы c basicNavbar.toggle() на basicNavbar.show() -->
        <li class="nav-item">
          <a
            (click)="basicNavbar.show()"
            class="nav-link"
            [routerLink]="['/develop-stack']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]='{exact: true}'
          ><i class="fab fa-stack-overflow"></i> Стек разработки</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="basicNavbar.show()"
            class="nav-link"
            [routerLink]="['/achievements']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]='{exact: true}'
          >
            <i class="fas fa-bars"></i> Достижения<span class="badge rounded-pill badge-notification bg-danger">3</span></a
          >
        </li>
        <li class="nav-item"> 
          <a
            (click)="basicNavbar.show()"
            class="nav-link"
            [routerLink]="['/about']"
            [routerLinkActive]="['active']"
          ><i class="far fa-user-circle"></i> Информация обо мне</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
